.clock {
  margin-top: 300px;
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 20px;
  /* text-shadow: 1px 1px cadetblue; */
}

@media (min-width: 1000px) {
  .clock {
    font-size: 6.5rem;
  }
}
