.greeting {
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: 300;
}

.login-form ::placeholder {
  color: whitesmoke;
}
.login-form input {
  color: whitesmoke;
  border: 2px solid lightgray;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-out;
}
.login-form input:focus {
  font-size: 20px;
  border: 3px solid lightgray;
}

@media (max-width: 600px) {
  .greeting {
    font-size: 2em;
  }
  .login-form input {
    font-size: 1em;
  }
  .login-form input:focus {
    font-size: 1.3em;
  }
}
