.overlay {
  position: absolute;
  margin-top: 200px;
  bottom: 0;
  height: 70%;
  width: 37%;
  z-index: -1;
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
  background: rgba(30, 31, 30, 0.6);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.overlay-opacity {
  background: rgba(51, 51, 51, 0.6);
  height: 90%;
  width: 95%;
  margin-bottom: 40px;
  border-radius: 50px;
}

.overlay:hover {
  opacity: 0.5;
}
.overlay:hover .overlay {
  opacity: 1;
}

@media (max-width: 1200px) {
  .overlay {
    width: 50%;
  }
}
@media (min-height: 900px) {
  .overlay {
    height: 80%;
  }
}
