.todo-form ::placeholder {
  color: whitesmoke;
}

.todo-form input {
  border: none;
  background-color: transparent;
  color: whitesmoke;
  font-size: 1.2em;
  opacity: 0.8;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.2s ease;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  font-weight: 400;
}
.todo-form input:focus {
  font-size: 1.3em;
  border: 1.5px solid lightgray;
}

.todo-list {
  width: 300px;
  /* position: relative; */
}
li {
  width: 100%;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid transparent;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: left;
  word-wrap: break-word;
  /* overflow: hidden; */
  /* will-change: border-color;
  transition: border-color 0.5s ease-in-out; */
}

li span {
  width: 80%;
}

li button {
  width: 20%;
  /* padding-left: 20px; */
  border: 0;
  position: absolute;
  margin-left: 75%;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

@media (max-width: 500px) {
  .todo-list {
    width: 200px;
  }
  li {
    font-size: 13px;
  }
  li button {
    font-size: 10px;
  }
}

@media (max-height: 600px) {
  li:nth-of-type(1n + 4) {
    display: none;
  }
}
@media (max-height: 700px) {
  li:nth-of-type(1n + 5) {
    display: none;
  }
}
@media (max-height: 800px) {
  li:nth-of-type(1n + 6) {
    display: none;
  }
}
@media (max-height: 850px) {
  li:nth-of-type(1n + 7) {
    display: none;
  }
}
@media (max-height: 1000px) {
  li:nth-of-type(1n + 10) {
    display: none;
  }
